@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Default";
}

 

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0) {

    <li>

        <a asp-controller="ShoppingCart" asp-action="Index">
            <i class='fas fa-shopping-cart'></i>
            <span id="cart-status">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>

}